<%= content_for(:title, 'Welcome To Your Online Banking') %>
<h1>
  My Bank
</h1>
<div class="row">
  <div class="pull-right">
    <%= button_to "Logout", destroy_user_session_path, :id => "logout-path",
          :class => "btn btn-danger btn-sm", :method => :delete %>
  </div>
</div>
<br/>
<div class="form-group">
  <%= button_to "New Deposit", new_deposit_path, :id => "new-deposit-path",
        :class => "btn btn-primary", :method => :get %>
</div>
<% @account = get_account %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Account Number</th>
      <th>Account Balance</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @account.user.name %></td>
        <td><%= @account.account_number %></td>
        <td><%= number_to_currency(@account.amount) %></td>
        <td>
          <%= link_to new_withdrawal_path, class: 'btn btn-primary' do %>
            <i class="fa fa-building"></i>
            Withdraw
          <% end %>
          <%= link_to new_transfer_path, class: 'btn btn-primary' do %>
            <i class="fa fa-building"></i>
            Transfer
          <% end %>
          <%= link_to account_path(@account.id), class: 'btn btn-primary' do %>
            <i class="fa fa-building"></i>
            Show Transactions
          <% end %>
        </td>
      </tr>
  </tbody>
</table>
