<h3>New Transfer</h3>
<div class="form-group">
  <%= flash_message %>
  <%= form_for(setup_transfer(@transfer)) do |f| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2>
        <%= pluralize(@transfer.errors.count, "error") %>
        prohibited this post from being saved:
      </h2>

      <ul>
      <% @transfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <div class="form-group">
      <%= f.fields_for :account do |ff| %>
        <%= ff.label :account_number, "Account Number" %>
        <%= ff.text_field :account_number, class: "form-control" %>
        <% end %>
    </div>
    <div class="form-group">
      <%= f.label :amount, "Amount" %>
      <%= f.number_field :amount, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.submit 'Transfer', class: "btn btn-primary", required: true %>
    </div>
  <% end %>
</div>
