<h3>Name: <%= @account.user.name %></h3>
<h3>E-mail: <%= @account.user.email %></h3>
<h4>Number Account: <%= @account.account_number %>
  <br/><br/>
  <div class="row">
    <%= form_for :search, method: :get do |f| %>
      <div class="form-group mx-sm-3 mb-2">
        <%= f.date_field :start_date, value: @start, class: "form-control" %>
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <%= f.date_field :end_date, value: @end, class: "form-control"  %>
      </div>
        <%= f.submit 'Search', class: "btn btn-primary" %>
    <% end %>
  </div>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Date Of Transaction</th>
      <th>Transaction Type</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% if @deposits.any? %>
      <% @deposits.each do |d| %>
      <tr>
        <th><%= d.created_at.strftime("%FT%T") %></th>
        <th>Deposits</th>
        <th><%= d.amount %></th>
      </tr>
      <% end %>
    <% end %>
    <% if @transfers.any? %>
      <% @transfers.each do |d| %>
      <tr>
        <th><%= d.created_at %></th>
        <th>Transfers</th>
        <th><%= d.amount %></th>
      </tr>
      <% end %>
    <% end %>
    <% if @withdrawals.any? %>
      <% @withdrawals.each do |d| %>
      <tr>
        <th><%= d.created_at %></th>
        <th>Withdrawal</th>
        <th><%= d.amount %></th>
      </tr>
      <% end %>
    <% end %>
    <tr>
      <th></th>
      <th>Balance</th>
      <th><%= number_to_currency(@account.amount) %></th>
    </tr>

  </tbody>
</table>
