<h3>Name: <%= @account.user.name %></h3>
<h3>E-mail: <%= @account.user.email %></h3>
<h4>Number Account: <%= @account.account_number %>
  <br/><br/>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Date Of Transaction</th>
      <th>Transaction Type</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% if @account.deposits.any? %>
      <%= @account.deposits.each do |d| %>
      <tr>
        <th><%= d.created_at %></th>
        <th>Deposits</th>
        <th><%= d.amount %></th>
      </tr>
      <% end %>
    <% end %>
    <% if @account.transfers.any? %>
      <%= @account.transfers.each do |d| %>
      <tr>
        <th><%= d.created_at %></th>
        <th>Transfers</th>
        <th><%= d.amount %></th>
      </tr>
      <% end %>
    <% end %>
    <% if @account.withdrawals.any? %>
      <%= @account.withdrawals.each do |d| %>
      <tr>
        <th><%= d.created_at %></th>
        <th>Withdrawal</th>
        <th><%= d.amount %></th>
      </tr>
      <% end %>
    <% end %>
    <tr>
      <th></th>
      <th>Balance</th>
      <th><%= number_to_currency(@account.amount) %></th>
    </tr>

  </tbody>
</table>
